@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap');

html,
body,
#root,
.app {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif !important;
}
::-webkit-scrollbar {
    width: 0.5rem;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
  margin: 0
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.MuiTypography-root {
  font-family: 'Montserrat', sans-serif !important;
}